# Climate Coding Challenge

Climate change is impacting the way people live around the world

# Convert units

It’s important to keep track of the units of all your data. You don’t
want to be like the [NASA team who crashed a probe into Mars because
different teams used different
units](https://www.latimes.com/archives/la-xpm-1999-oct-01-mn-17288-story.html))!

## STEP 0: Set up

To get started on this notebook, you’ll need to restore any variables
from previous notebooks to your workspace. To save time and memory, make
sure to specify which variables you want to load.

In [1]:
%store -r
print(co2_df)

     site_code  year  month  day  hour  minute  second              datetime  \
0          THD  2003      9    2    23       2       0  2003-09-02T23:02:00Z
1          THD  2003      9    2    23       8       0  2003-09-02T23:08:00Z
2          THD  2003      9    2    23      12       0  2003-09-02T23:12:00Z
3          THD  2003      9    2    23      16       0  2003-09-02T23:16:00Z
4          THD  2003      9    2    23      19       0  2003-09-02T23:19:00Z
...        ...   ...    ...  ...   ...     ...     ...                   ...
3603       THD  2024     12   30    22      30       9  2024-12-30T22:30:09Z
3604       THD  2024     12   30    22      33      25  2024-12-30T22:33:25Z
3605       THD  2024     12   30    22      36      39  2024-12-30T22:36:39Z
3606       THD  2024     12   30    22      39      49  2024-12-30T22:39:49Z
3607       THD  2024     12   30    22      42      43  2024-12-30T22:42:43Z

      time_decimal air_sample_container_id  ...  latitude  longitude  \
0      2003.671123                  223-01  ...   41.0500  -124.1500
1      2003.671134                  223-02  ...   41.0500  -124.1500
2      2003.671142                  223-03  ...   41.0500  -124.1500
3      2003.671149                  223-04  ...   41.0500  -124.1500
4      2003.671155                  223-05  ...   41.0500  -124.1500
...            ...                     ...  ...       ...        ...
3603   2024.997097                 3086-08  ...   41.1472  -124.2809
3604   2024.997103                 3086-09  ...   41.2227  -124.1738
3605   2024.997110                 3086-10  ...   41.2179  -124.1613
3606   2024.997116                 3086-11  ...   41.1971  -124.1532
3607   2024.997121                 3086-12  ...   41.1764  -124.1564

      altitude  elevation  intake_height  method  event_number instrument  \
0      7620.00        0.0        7620.00       A        188130         L3
1      7162.80        0.0        7162.80       A        188131         L3
2      6705.60        0.0        6705.60       A        188132         L3
3      6248.40        0.0        6248.40       A        188133         L3
4      5791.20        0.0        5791.20       A        188134         L3
...        ...        ...            ...     ...           ...        ...
3603   2665.78        0.0        2665.78       R        545591        PC2
3604   2082.09        0.0        2082.09       R        545592        PC2
3605   1490.17        0.0        1490.17       R        545593        PC2
3606    897.64        0.0         897.64       R        545594        PC2
3607    322.78        0.0         322.78       R        545595        PC2

        analysis_datetime qcflag
0     2003-09-10T18:23:00    ...
1     2003-09-10T18:37:00    ...
2     2003-09-10T18:50:00    ...
3     2003-09-10T19:03:00    ...
4     2003-09-10T19:16:00    ...
...                   ...    ...
3603  2025-01-03T08:58:14    ...
3604  2025-01-03T09:13:36    ...
3605  2025-01-03T09:28:59    ...
3606  2025-01-03T09:44:20    ...
3607  2025-01-03T09:59:44    ...

[3608 rows x 22 columns]

## Use labels to keep track of units for you and your collaborators

One way to keep track of your data’s units is to include the unit in
data **labels**. In the case of a `DataFrame`, that usually means the
column names.

<link rel="stylesheet" type="text/css" href="./assets/styles.css"><div class="callout callout-style-default callout-titled callout-task"><div class="callout-header"><div class="callout-icon-container"><i class="callout-icon"></i></div><div class="callout-title-container flex-fill">Try It: Add units to your column name</div></div><div class="callout-body-container callout-body"><p>A big part of writing <strong>expressive</strong> code is descriptive
labels. Let’s rename the columns of your dataframe to include units.
Complete the following steps:</p>
<ol type="1">
<li>Replace <code>dataframe</code> with the name of
<strong>your</strong> <code>DataFrame</code>, and
<code>dataframe_units</code> with an expressive new name.</li>
<li>Check out the <a
href="https://www.ncei.noaa.gov/data/global-historical-climatology-network-daily/doc/GHCND_documentation.pdf">documentation
for GCHNd data</a>. We downloaded data with “standard” units; find out
what that means for temperature.</li>
<li>Replace <code>'temperature-column-name'</code> with the temperature
column name in your data, and <code>'temp_unit'</code> with a column
name that includes the correct unit. For example, you could make a
column called <code>'temperature_k'</code> to note that your
temperatures are in degrees Kelvin.</li>
</ol></div></div>

In [2]:
#changing for portfolio project. adding the value is co2 in ppm

thd_co2_units = co2_df.rename(columns={
    'value': 'co2_ppm',
})

print(thd_co2_units['co2_ppm'])

0       370.70
1       370.89
2       371.58
3       371.24
4       371.73
         ...
3603    429.48
3604    429.71
3605    429.98
3606    429.90
3607    431.68
Name: co2_ppm, Length: 3608, dtype: float64

In [3]:
## also adding that altitude is in meters
thd_co2_units = co2_df.rename(columns={
    'altitude': 'meters',
})

print(thd_co2_units['meters'])

0       7620.00
1       7162.80
2       6705.60
3       6248.40
4       5791.20
         ...
3603    2665.78
3604    2082.09
3605    1490.17
3606     897.64
3607     322.78
Name: meters, Length: 3608, dtype: float64

Finally, be sure to `Restart` and `Run all` to make sure your notebook
works all the way through!